body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F0F0F0;
}

header {
    background-color: #FFFFFF; 
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1 {
    width: 360px;
    margin-left: 30px;
}

h1 {
    font-size: 3em;
    font-family: 'Libre Baskerville', serif;
    color: #90C3D4;
    text-decoration: none;
}

h1 a {
    color: #90C3D4;
    text-decoration: none;
}

#trigger {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28px;
    right: 30px;
    display: block;
}

#main-content {
    background-color: #FFFFFF;
}

h2 {
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;
    color: #90C3D4;
    padding: 20px 30px 10px 30px;
    text-align: center;
}

#main-content p {
    color: #505050;
    padding: 20px 30px 20px 30px;
    text-align:left;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
    color: #7e7e7e;
}

nav a {
    color: #52707A;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out .5s;
}

nav a:hover {
    color: #7e7e7e;
    border-color: #7e7e7e;
}

.active {
    color: #90C3D4;
}

ul {
    list-style: none;
}

p {
    font-size: .9em;
    color: #2a2a2a;
}

footer {
    background-color: #E0E0E0;
    font-size: .7em;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

#main-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}


/*------ Mobile Menu and Display -------*/

@media screen and (max-width: 767px) {
    #desktop {
        display: none;
    }
    
    header h1 {
        font-size: 2.25em;
        width: 280px;
    }
    
    #main-image {
        margin: 20px 30px 0px 30px;
    }
    
    #mobile ul {
        background-color: #F0F0F0;
        margin: 10px 0 10px 0;
        padding-bottom: 10px;
    }
    
    #mobile li a {
        border-bottom: 3px solid #FFFFFF;
        padding: 10px;
        width: 80%;
        margin-left: 10px;
        margin-right: 10px;
        display:inline-block;
    }
    
    #mobile li a:active, #mobile li a:hover {
        background-color: #E0E0E0;
    }
}

/* ---------- Desktop Menu ------------*/
@media screen and (min-width: 768px) {
    #mobile {
        display: none;
    }
    
    header h1 {
        float: left;
        width: 25%;
        margin-left: 0px;
        margin-right: 20px;
    }
    
    #desktop li {
        display: inline-block;
        padding: 5px 15px 5px 15px;
        float: left;
        margin-top: 29px;
    }
    
    .clear-fix {
        clear: both;
    }
    
    #display {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}